* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  background-color: burlywood;
}
.container {
  height: 100vh;
  color: black;
  display: grid;
  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "sidebar box1 box2 box3"
    "sidebar box4 box5 box6"
    "footer footer footer footer";
  grid-gap: 0.6rem;
  text-align: center;
  font-size: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 2fr 1fr 1fr 0.7fr;
}

header {
  background-color: aqua;
  grid-area: header;
}
.main {
  background-color: rgb(68, 222, 41);
  grid-area: main;
}
.sidebar {
  background-color: yellow;
  grid-area: sidebar;
}
.box1 {
  background-color: blue;
  grid-area: box1;
}
.box2 {
  background-color: red;
  grid-area: box2;
}
.box3 {
  background-color: yellow;
  grid-area: box3;
}
.box4 {
  background-color: violet;
  grid-area: box4;
}
.box5 {
  background-color: orangered;
  grid-area: box5;
}
.box6 {
  background-color: darkmagenta;
  grid-area: box6;
}
footer {
  background-color: yellowgreen;
  grid-area: footer;
}
@media (min-width: 431px) and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1fr 1.7fr 0.4fr 0.4fr 0.4fr 0.8fr;
    grid-template-areas:
      "header header"
      "sidebar sidebar"
      "main main"
      "box1 box2"
      "box3 box4"
      "box5 box6"
      "footer footer";
  }
}

@media (max-width: 430px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1.8fr 0.7fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.8fr;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "box1"
      "box2"
      "box3"
      "box4"
      "box5"
      "box6"
      "footer";
  }
}
